*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: black;
}
.container {
    color: rgb(10, 149, 184);
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}